.card-container-page {
    padding-top: 100px;
}

.card-container {
    background-color: #000;
    overflow: hidden;

    /* transition: transform 450ms; */
}

/* TODO need a fave card container where there is no onhover behavior */
.card-container:hover {
    cursor: pointer;
    transform: scale(0.98);
    /* opacity: 0.9; */

}

.card-poster {
    background-color: #000;
    padding: 20px;
    object-fit: contain;
    overflow: hidden;
}

.card-front {

}

.card-back {
    overflow-x: hidden;
    color: rgb(124, 124, 124);
}
