.card-container-page {
    padding-top: 100px;
}


.card-container {

    /* object-fit: contain;
    max-height: 100px;
    width: 100%; */

    background-color: #111;
    overflow: hidden;

    overflow: hidden;
    /* transition: transform 450ms; */
}

.card-container:hover {
    /* transform: scale(0.9); */
    cursor: pointer;

}

.card-poster {
    background-color: #111;
    padding: 20px;
    object-fit: contain;
    overflow: hidden;
}

.card-front {

}

.card-back {
    overflow-x: hidden;
}

/* Bootstrap list-group */
.list-group-flush {

}


