.static-background {
    padding-top: 100px;
}



.static-page {
    padding-top: 100px;
}

.static {
    /* background-image: url('https://c.tenor.com/lk5YUP4Co1QAAAAC/static-glitch.gif'); */
    background-image: url('https://64.media.tumblr.com/067f8d938a23adf8b50df3caea225fc4/88fcd02eea4c6b96-a4/s640x960/68b548e45d26cf78e487b0ef7514113b50fdd008.gifv');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


}

/* .page-title {
    text-align: center;
    position: center;
    font-size: 1.5em;
    margin: auto;
    width: 50%;
    border: 5px solid #FFFF00;
    padding: 10px;
} */

/* .watchables-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    margin-top: 50px;
    margin-right: 4%;
    margin-bottom: 50px;
    background-color: #111;
    width: 100vw;
} */